#cs_icons_cs_icon_library {height:40px;}
/* page edit iv-places */
.iv-opening-hours {padding:10px;border-bottom: 1px solid #eee;}
.iv-opening-hours .field-name, .iv-admin-map .field-name, .iv-admin-logo .field-name, 
	.iv-admin-inform .field-name {padding-left:10px;text-transform: capitalize;width:150px;display:inline-block;}
.iv-opening-hours input {border-radius:2px;}
.iv-opening-hours .hours-to {padding-left:10px;padding-right:10px;}
.iv-opening-hours .hours-remove {padding-left:10px;color:#ff5526;cursor:pointer;}
.iv-opening-hours .hours-remove i.dashicons {vertical-align: middle;}
.iv-opening-hours .rest-time {cursor:pointer;}
.iv-opening-hours .rest-time strong {color:#c52828;padding-right:10px;}
#iv-radio-0, #iv-radio-1, #iv-radio-2  {margin-left: 15px !important;margin-right: 5px !important;}

.termeta_img_button{ display:inline-block; margin-right:1em; }
.termeta_img_button img{ display:block; float:left; margin:0; padding:0; min-width:75px; max-width:100px; height:auto; background:rgba(0,0,0,.07); }
.termeta_img_button:hover img{ opacity:.8; }
.termeta_img_button:after{ content:''; display:table; clear:both; }

#iv_all_images .iv-img {margin-top:5px;margin-bottom:10px;width:115px;height:90px;}
#iv_all_images .iv_remove_img {margin-top:5px !important;}

.iv-admin-inform i.beck-remove-number {cursor:pointer;color:#000000;opacity:0.4;vertical-align: middle;}
.iv-admin-inform i.beck-remove-number:hover {color:#000000;opacity:0.9;}
.iv-admin-inform .phone-em {color: #0073aa;display: inline-block;margin-left: 170px;}
.iv-admin-inform .phone-em:hover {cursor:pointer;color: #444;}

.iv-admin-map, .iv-admin-logo, .iv-admin-inform, .iv-admin-images {padding:10px;border-bottom: 1px solid #eee;}
.iv-admin-map .iv-map-field {height:200px;width:100%}
#iv-infowindow-content {display: none;}
#iv-map-field #iv-infowindow-content {display: inline;}
