/* Block place-content*/
#place-content{
	position:absolute;
	left: calc(50% - 150px); /*370px;*/
	top:50px;
	background:#fff;
	width:350px;
	height:500px;
	z-index:99;
	display:none;
	/*border:1px solid #b1bec9;*/
	box-sizing:border-box;
}
#close-place-content{position:absolute;left:352px;top:0px;border:1px solid red;cursor:pointer;}
#place-content table tr td {border:none !important;}
.p-title{width:120px;vertical-align:middle;}
.v-del{background:#fff;position:absolute;width:3px;right:0;border:1px solid #b1bec9;top:3px;bottom:3px;border-radius:2px;}
.p-icon{padding:3px 0;color:#fff;}
.p-rating{width:160px;line-height: 30px !important;vertical-align:middle;}
.p-rat-circle{margin-right:5px;background:#fff;height:30px;width:30px;border:1px solid transparent;border-radius:30px;text-align:center;}
.p-logo{background:#fff;height:50px;width:50px;border-radius:50px;vertical-align:middle;}
.td-logo{padding:8px;}

#place-content p.p-address{color:#1f7bab !important;font-weight:bold;}
.p-day{width:80px;display:inline-block;}
.p-review{text-align:center;}
.show-ci{display:none;}

[class^="icon-"], [class*=" icon-"] {vertical-align:middle;}
.p-icon2{color:#e85912;}
.p-icon3{color:#bbbbbb;}
.close-color{color:#e85912;}

.p-line{line-height: 16px !important;}
.p-hr{margin-left:10px;margin-right:10px;margin-top:10px;margin-bottom:10px;}
.d-ib{display:inline-block !important;}

.fs-12{font-size:12px !important;}
.fs-14{font-size:14px !important;}
.fs-16{font-size:16px !important;}
.fs-18{font-size:18px !important;}

.fw-bold{font-weight:bold !important;}

.pl-5{padding-left:5px;}
.pl-10{padding-left:10px;}
.pl-20{padding-left:20px;}
.pr-5{padding-right:5px;}
.pr-10{padding-right:10px;}
.ml-5{margin-left:5px;}
.ml-10{margin-left:10px;}

.fl-left{float:left;}
.ps-rel{position:relative;}
.cl-b{clear:both;}
.link-comment{color:#1f7bab;cursor:pointer;}
.bg-one{background:#e99419;}
.ta-c{text-align: center;}

.rate-bottom{width: 165px;margin-left: auto;margin-right: auto;}
@media (max-width: 992px) {
	#place-content {top:10px;}
}
@media (max-width: 768px) {
	#place-content {/*left:55px;top:10px;*/width: 300px;}
	#close-place-content{left: 302px;}
	.p-title{width: 110px;}
	.p-rating{width: 130px;}
	.p-logo{height: 40px; width: 40px; border-radius: 40px;}
	.p-rat-circle {margin-left: 10px;}	
}
@media (max-width: 376px) {
	#place-content {left:52px;top:10px;width: 290px;}
	#close-place-content{left: 292px;}
	.p-title{width: 100px;}
	.p-rating{width: 130px;}
	.p-logo{height: 40px; width: 40px; border-radius: 40px;}
	.p-rat-circle {margin-left: 10px;}
}
@media (max-width: 321px) {
	#place-content {width: 250px;}
	#close-place-content{left: 250px;}
	.p-title{width: 80px;}
	.p-rating {width: 110px;}
	.p-logo {height: 40px; width: 40px; border-radius: 40px;}
	.plw-widget {width: 250px;}
	.inl-block {width: 24%;}
	.inl-block-short {width: 18%;}
	.p-rat-circle {margin-left: 10px;}
}
/* Comments of place content */
#iv-respond{border:1px solid #ececec;max-width:350px;padding:3px;margin:3px;border-radius: 3px;}
#iv-respond input[type="text"], #iv-respond textarea {
	font-size: 14px;
	font-weight: 400;		
	padding: 0 16px;
	color: #bababa;
	border: 1px solid #ececec;
	border-radius: 3px;
	outline: none;
	box-shadow: none;
}
#iv-respond .nameinput, #iv-respond .emailinput, #iv-respond .yoursiteinput {
	max-width:200px;
	line-height: 30px;
	height: 30px;
}
#iv-respond textarea {
    height: 150px;
    line-height: 24px;
    margin-top:5px;
    margin-bottom:5px;
}
#iv-respond strong {
	font-family: sans-serif;
	font-size: 10px;
	display: block;
	margin: 3px 0 2px 0;
	letter-spacing: .5px;
	text-transform: uppercase;
	color: #000;
}
#iv-respond input.error, #iv-respond textarea.error{
	border-color: #fe0000;
}
ul.children {
	margin-left:10px !important;
	padding-left:10px;
}
.fn {padding-left:5px;}
#place-content ol.commentlist li {list-style:none !important;}
#place-content img.avatar-32 {border-radius: 32px;}
#place-content hr.c-hr{margin-top:10px;margin-bottom:10px;}
#place-content #comment-result .com-error-res {text-align:center;color:#e85912 !important;font-size:16px !important;}
#place-content #comment-result .com-success-res {text-align:center;color:#1f7bab !important;font-size:16px !important;}

/* Side menu */
.cat-menu {
	display: inline-block;
	width: 360px;
	float: left;
	position: absolute;
	left: 0;
	top: 0;
	padding-top: 0px;
	z-index: 1;
	background: #fff;
	height: ;
}
.link-category{
	text-decoration: none !important;
	float: left;
	clear: both;
	
}
.cat-icon{
    text-decoration: none !important;
    color: #b1bec9;
    display: inline-block !important;
    width: 50px;
    height: 50px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    line-height: 50px !important;
    vertical-align: middle !important;
    float: left;
    font-size: 20px !important;
    text-align: center;
    box-sizing: border-box;
}
.cat-name {
	display: inline-block;
    border-bottom: 1px solid #eee;
    height: 50px;
    text-align: left;
    line-height: 50px;
	font-size: 13px;
	color: #595959;
	width: 280px;
	margin: 0 0 0 17px;
	background: ;
	vertical-align: middle;
	overflow: hidden;
}
.link-category:hover .cat-name {
	font-weight: bold;
}
.link-category.activ {
	
}
.link-category.activ .cat-icon {
	border-right: none;
	border-left: 3px solid;
	
}
.link-category.activ .cat-name {
	font-weight: bold;
	
}
.scrollable.default-skin .scroll-bar .thumb {
    background-color: #ccc !important;
}
@media (max-width: 768px) {
	.cat-menu {width: 50px;}
	.cat-name {/*width: 220px;height: 40px;line-height: 40px;*/display: none;}
	.cat-icon{height: 40px;line-height: 40px !important;}
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {margin: 0 0 0 auto !important;}
}
@media (min-width: 992px) {

}
/* Map */
.iv-map {
	position: absolute;
	left: 360px;
	top: 0px;
	width: calc(100% - 360px);
	height: 100%;
	overflow: unset !important;
	background: /*#45A782*/;
	padding-top: ;
	z-index:;
	margin-top:;
}

.gm-control-active.gm-fullscreen-control {}
.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom{}
.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom > .gmnoprint {}
.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom > .gm-svpc {}
@media (max-width: 768px) {
	.iv-map {left: 50px;width: calc(100% - 50px);}
}
/* Count posts */
#count_posts {position: absolute;left: 370px;top: 10px;height: 32px;border-radius:15px;border:1px solid #ece8d6;background-color: #fff;
	font-size: 14px;z-index:;line-height: 28px;padding-left: 5px;padding-right: 5px;}
#count_posts .text-post {padding-left: 3px;padding-right: 3px;}
#count_posts .number-post {height: 26px;width:26px;border-radius:13px;border: 1px solid #3f9bbf;
	display: inline-block;margin: 2px;text-align: center;background: #3f9bbf;color: #fff;line-height: 22px;}
@media (max-width: 768px) {
	#count_posts {left: 70px;}
}
/* #iv-window */
#iv-window {position: relative;border:;box-sizing: border-box;}
/* Richmarker */
.rich-marker{
		position: relative;
		background: url("../icons/svg/rich-marker.svg") no-repeat;
		height: 40px;
		width: 40px;
		display: inline-block;
		text-align: center;
		padding-top: 2px;
	}
.rich-icon{position: absolute;left: 16px;top: 8px;display: inline-block !important;font-size: 16px;color: white;font-weight: bold !important;}
#Layer_1{color:#fff;}

/* custom button */
.gm-style .controls {
	font-size: 28px;  /* this adjusts the size of all the controls */
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
	box-sizing: border-box;
	border-radius: 2px;
	cursor: pointer;
	font-weight: 300;
	height: 1em;
	margin: 6px;
	text-align: center;
	user-select: none;
	width: 1em;
}
.gm-style .controls button {
	border: 0;
	background-color: white;
	color: rgba(0, 0, 0, 0.6);
	border-radius: 2px;
}
.gm-style .controls button:hover {
	color: rgba(0, 0, 0, 0.9);
}
.gm-style .controls.zoom-control {
	display: flex;
	flex-direction: column;
	height: auto;
	z-index: 0;
	position: absolute;
	bottom: 15px !important;
	right: 0px;
}
.gm-style .controls.zoom-control button {
	font: 0.85em Arial;
	margin: 1px;
	padding: 0;
}
#geoId {
	position: absolute;
	bottom: 90px !important;
	right: 6px !important;  
}
#geoId button{
	margin-right: 0 !important;
}
/* geolocation marker style */
.geo-marker-box{
	position: relative;	
	width: 38px;
	height: 38px;
	border-radius: 50%;
	background:transparent;
	cursor: pointer;
}
.geo-marker{
	position: absolute;	
	width: 38px;
	height: 38px;
	border-radius: 50%;
	background: blue;
	opacity: 0.1;
	background-clip: border-box;
	background-clip: padding-box;
	box-shadow: 0 0 4px rgba(133,133,133,.75);
	-webkit-animation: map__markerGeolocationBase_scale .6s ease;
	animation: map__markerGeolocationBase_scale 2.6s ease;
}
.geo-marker-dot{
	position: absolute;
	top: 14px;
	left: 14px;
	width: 8px;
	height: 8px;
	border: 1px solid #1042c1;
	border-radius: 50%;
	background: -webkit-linear-gradient(300deg,#3d6dd6,#1142c7 50%,#1139c2);
	background: linear-gradient(150deg,#3d6dd6,#1142c7 50%,#1139c2);
	-webkit-animation: map__markerGeolocationDot_scale .4s ease .1s backwards;
	animation: map__markerGeolocationDot_scale .4s ease .1s backwards;
}
@-webkit-keyframes map__markerGeolocationBase_scale{0%{-webkit-transform:scale(0);transform:scale(0)}40%{-webkit-transform:scale(2);transform:scale(2)}to{-webkit-transform:scale(1);transform:scale(1)}}
@keyframes map__markerGeolocationBase_scale{0%{-webkit-transform:scale(0);transform:scale(0)}40%{-webkit-transform:scale(2);transform:scale(2)}to{-webkit-transform:scale(1);transform:scale(1)}}
@-webkit-keyframes map__markerGeolocationDot_scale{0%{-webkit-transform:scale(0);transform:scale(0)}50%{-webkit-transform:scale(1.1);transform:scale(1.1)}to{-webkit-transform:scale(1);transform:scale(1)}}
@keyframes map__markerGeolocationDot_scale{0%{-webkit-transform:scale(0);transform:scale(0)}50%{-webkit-transform:scale(1.1);transform:scale(1.1)}to{-webkit-transform:scale(1);transform:scale(1)}}
/* button geolocation */
@-webkit-keyframes geoLocation__waiting{to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
@keyframes geoLocation__waiting{to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
   		

