.vote-block-2 {
  overflow: hidden;
  margin: 0 10px 0 10px;
  padding-bottom: 25px;
  float: left;
  vertical-align: middle;
  position: relative;
}
.vote-block-2 .rating-info {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 12px;
  padding-left: 40px;
}
.vote-block-2 .rating {
  list-style: none;
  margin: 0 10px 0 0;
  padding: 0;
  height: 15px;
  float: left;
  vertical-align: middle;
  background: none !important;
}
.vote-block-2 .rating:hover li {
  background-image: url("../img/star2x.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .vote-block-2 .rating:hover li {
    background-image: url("../img/star2x.png");
    background-size: 16px 45px !important;
  }
}
.vote-block-2 .rating li {
 display: block;
width: 29px;
height: 27px;
float: right;
text-indent: -9999px;
cursor: pointer;
margin-bottom: 0px !important;
}
.vote-block-2 .rating li:hover,
.vote-block-2 .rating li:hover ~ li {
  background-position: 0 -27px;
}
.vote-block-2.disabled .rating li.current {
  display: block;
  z-index: 10;
}
.vote-block-2 .rating li.active,
.vote-block-2 .rating li.active ~ li {
  background-position: 0 -45px;
}
.vote-block-2 li.current {
  display: none;
}
.vote-block-2 ol.show-current {
position: relative;
padding: 0px !important;
margin: 3px 0px 0px 0px !important;
}
.vote-block-2 ol.show-current li {
  cursor: default;
  z-index: 2;
  position: relative;
}

.vote-block-2 ol.show-current li.current {
  position: absolute;
top: 0;
left: 0;
display: block;
width: 100%;
z-index: 1;
background-position: 0 0;
background-repeat: repeat-x;
background-image: url("../img/star2x.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
 .vote-block-2 ol.show-current li.current {
    background-image: url("../img/star2x.png");
    background-size: 16px 45px !important;
  }
}
.vote-block-2 ol.show-current li.current span {
  display: block;
  height: 27px;
  width: 0;
  background: inherit;
  background-position: 0 -54px;
}
/* MINI */
.vote-block {
  overflow: hidden;
  margin: 0 10px 0 0;
  padding-bottom: 5px;
  padding-left: 10px;
  float: left;
  vertical-align: middle;
  position: relative;
}
.vote-block .rating-info {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 14px;
  color: #000;
  font-family: georgia, serif;
}
.vote-block span.rating-text {
font-size: 14px;
display: block;
float: left;
margin-left: 5px;
}
.vote-block .rating {
  list-style: none;
  margin: 0 10px 0 0;
  padding: 0;
  width: 80px;
  height: 15px;
  float: left;
  vertical-align: middle;
  background: none !important;
}
/* 
.vote-block .rating:hover li {
  background-image: url("../img/star.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) { 
  .vote-block .rating:hover li {
    background-image: url("../img/star@2x.png");
    background-size: 16px 45px !important;
  }  
}
*/
.vote-block .rating li {
  display: block;
  width: 16px;
  height: 15px;
  float: right;
  text-indent: -9999px;
  cursor: pointer;
}
/*
.vote-block .rating li:hover,
.vote-block .rating li:hover ~ li {
  background-position: 0 -15px;
}
*/
.vote-block.disabled .rating li.current {
  display: block;
  z-index: 10;
}
.vote-block .rating li.active,
.vote-block .rating li.active ~ li {
  background-position: 0 -30px;
}
.vote-block li.current {
  display: none;
}
.vote-block ol.show-current {
position: relative;
padding: 0px !important;
margin: 3px 0px 0px 0px !important;
}
.vote-block ol.show-current li {
  cursor: default;
  z-index: 2;
  position: relative;
}
.vote-block ol.show-current li.current {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  z-index: 1;
  background-position: 0 0;
  background-repeat: repeat-x;
  background-image: url("../img/star.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .vote-block ol.show-current li.current {
    background-image: url("../img/star@2x.png");
    background-size: 16px 45px !important;
  }
}
.vote-block ol.show-current li.current span {
  display: block;
  height: 20px;
  width: 0;
  background: inherit;
  background-position: 0 -30px;
}
