.dis-tab-row{display:table-row;}
.dis-tab-cel{display:table-cell;}
.dis-lis-itm{display:list-item;list-style-type:none;}
.ta-center{text-align:center;}
.ta-left{text-align:left;}
.ta-right{text-align:right;}
.pr-10{padding-right: 10px;}
.margin-right{margin-left: auto;margin-right: 0;}
/* mini wether */
.plw-mini{
	position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    font-size: 14px;
    font-family: Helvetica,Arial,sans-serif;
    line-height: 16px;
    border: 1px solid #ece8d6;
    border-radius: 3px;
    box-sizing: border-box;
    z-index:90;
}
.once-day-mini {display: table-cell;border-radius: 4px;text-align: center;background: #fff;padding: 5px;}
.weader-link {cursor:pointer;color: #007bab;font-size:10px;}
/* widget weather */
.plw-widget {
    position: absolute;
    display:none;
    z-index:90;
    top: 10px;
    right: 10px;
    width: 380px;
    height: 500px;
    padding: 6px 15px 10px;
    background-color: #fff;
    font-size: 14px;
    font-family: Helvetica,Arial,sans-serif;
    line-height: 16px;
    border: 1px solid #ece8d6;
    border-radius: 3px;
    box-sizing: border-box;
}

/* plw-close */
.plw-close {position: absolute;top: 0px;right: 0px;padding: 2px;line-height: 12px;cursor:pointer;}

/* header */
.plw-city {font: 700 22px/24px 'SuisseCond','Arial Narrow',Helvetica,Arial,sans-serif;margin: 0 0 5px;}
.plw-today {color: #222;}
.plw-current {margin-top: 12px;display: table;table-layout: fixed;width: 100%;}
.plw-temperature {width: 25%;display: table-cell;vertical-align: top;font: 700 53px/1 'SuisseCond','Arial Narrow',Helvetica,Arial,sans-serif;}
.plw-cur-icon {width: 20%;display: table-cell;vertical-align:bottom;padding-left: 10px;}
.plw-condition {width: 35%;display: table-cell;vertical-align: middle;padding-left: 5px;font-size: 14px;}
.plw-cur-wind {width: 10%;display: table-cell;}
.plw-wind-speed {width: 10%;display: table-cell;}
.plw-wind-speed span {display: list-item;list-style-type: none;text-align:center;}
.plw-wind-speed .plw-first {font-size: 28px;}
.plw-wind-speed .plw-last {font-size: 14px;}
/* day */
.plw-day {margin-top: 12px;margin-bottom: 22px;display: table;table-layout: fixed;border-collapse: separate;border-spacing: 5px;width: 100%;}
.table-row {display:table-row;}
.once-day {display: table-cell;border-radius: 4px;text-align: center;background: #eee;padding: 13px 5px 17px;width: 33%;}
.once-temperature {font: 27px/1 'SuisseCond','Arial Narrow',Helvetica,Arial,sans-serif;margin-left: 3px;overflow: hidden;text-overflow: ellipsis;}
.onse-condition {font-size: 10px;color: #222;}

/* week */
.plw-week {/*display: table;table-layout: fixed;width: 100%*/;border-collapse: collapse;}
.w-day {display:table-row;border-top: 1px solid #e8e8e8;}
.w-day-padding {padding-top: 14px;padding-bottom: 14px;}
.w-day-one {width: 25%;vertical-align: middle;}
.w-day-one .day-date {color:#666;text-transform:capitalize;width: 46%;display: inline-block;letter-spacing: normal;}
.w-day-one .day-date-icon {width: 46%;display: inline-block;}
.w-day-two {width: 25%;vertical-align: middle;font-family: 'SuisseCond','Arial Narrow',Helvetica,Arial,sans-serif;}
.w-day-three {width: 45%;font-size: 11px;color: #222;padding-left:10px;}
.w-day-four {width: 5%;vertical-align: middle;color: #666;fill: transparent;text-align: right;}
.w-day-four:hover {color: #222;fill: #eee;}
.w-day-max {font-size: 27px;}
.w-day-min {font-size: 14px;}
/* week details */
.w-day-details {display:block;width: 100%;padding-bottom:10px;display:none;}
.inl-block-short {display:inline-block;width: 8%;vertical-align: middle;text-align: center;}
.inl-block {display:inline-block;width: 14%;vertical-align: middle;text-align: center;}
span.det-title {color: #222;font-size: 12px;}
span.det-temperature {color: #222;font-size: 12px;font-weight: 700;}
/* footer */
.forecast-copy {font-size:10px;text-align:center;cursor: pointer;border-top: 1px solid #e8e8e8;margin:0 !important;padding-top:10px;}
.forecast-copy > a {text-decoration: none !important;color: #666 !important;font-size:10px !important;}
.forecast-copy > a:hover {color: #222 !important;}
/* icon style */
.plw-icon {display: inline-block;width: 32px;height: 20px;}
.plw-icon-big {display: inline-block;width: 50px;height: 40px;}
.plw-icon.clr-fd9 {fill: #fd9800;}
.plw-icon.clr-007{fill: #007bab;}
.plw-icon-close {background: url("../icons/svg/close.svg") no-repeat;display: inline-block;width: 10px;height: 10px;}
.card_toggle {background: url("../icons/svg/card_toggle.svg") no-repeat;display: inline-block;width: 20px;height: 20px;cursor: pointer;}
.card_toggle-2 {background: url("../icons/svg/card_toggle.svg") no-repeat;display: none;width: 20px;height: 20px;-webkit-transform:rotate(180deg);transform:rotate(180deg);cursor: pointer;}

.clear-day {background: url("../icons/svg/clear-day.svg") no-repeat;}
.clear-night {background: url("../icons/svg/clear-night.svg") no-repeat;}
.partly-cloudy-day {background: url("../icons/svg/partly-cloudy-day.svg") no-repeat;}
.partly-cloudy-night {background: url("../icons/svg/partly-cloudy-night.svg") no-repeat;}
.heavy-rain {background: url("../icons/svg/heavy-rain.svg") no-repeat;}
.heavy-snow {background: url("../icons/svg/heavy-snow.svg") no-repeat;}
.sleet, .light-rain {background: url("../icons/svg/light-rain.svg") no-repeat;}
.light-snow {background: url("../icons/svg/light-snow.svg") no-repeat;}
.rain {background: url("../icons/svg/rain.svg") no-repeat;}
.snow {background: url("../icons/svg/snow.svg") no-repeat;}
.hail, .storm {background: url("../icons/svg/storm.svg") no-repeat;}
.fog, .cloudy {background: url("../icons/svg/cloudy.svg") no-repeat;}
.wind {background: url("../icons/svg/wind.svg") no-repeat;}
.tornado, .strong-wind, .thunderstorm {background: url("../icons/svg/wind.svg") no-repeat;-webkit-transform:rotate(45deg);transform:rotate(45deg)}

/* wind direction */
._SW{-webkit-transform:rotate(0);transform:rotate(0)}
._W{-webkit-transform:rotate(45deg);transform:rotate(45deg)}
._NW{-webkit-transform:rotate(90deg);transform:rotate(90deg)}
._N{-webkit-transform:rotate(135deg);transform:rotate(135deg)}
._NE{-webkit-transform:rotate(-180deg);transform:rotate(-180deg)}
._E{-webkit-transform:rotate(-135deg);transform:rotate(-135deg)}
._SE{-webkit-transform:rotate(-90deg);transform:rotate(-90deg)}
._S{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}

@media (max-width: 768px) {
	.plw-mini {}
	
}
@media (max-width: 576px) {
	.plw-mini {top: 50px;}
	.plw-widget {width: 305px;top: 50px;}
	.plw-temperature {font: 700 33px/1 'SuisseCond','Arial Narrow',Helvetica,Arial,sans-serif;}
	.plw-icon-big {width: 40px;height: 30px;}
	.plw-condition {padding-left: 10px;font-size: 12px;}
	.wind {width: 24px;height: 16px;vertical-align: middle;}
	.plw-wind-speed .plw-first {font-size: 20px;}
	.plw-wind-speed .plw-last {font-size: 12px;}
	.w-day-one .day-date {display: inline;}
	.inl-block {padding-left: 7px;}
	.inl-block-short {padding-left: 3px;}
}
