@font-face {
  font-family: 'custom-fileds';
  src:  url('fonts/custom-fileds.eot?p8l2x2');
  src:  url('fonts/custom-fileds.eot?p8l2x2#iefix') format('embedded-opentype'),
    url('fonts/custom-fileds.ttf?p8l2x2') format('truetype'),
    url('fonts/custom-fileds.woff?p8l2x2') format('woff'),
    url('fonts/custom-fileds.svg?p8l2x2#custom-fileds') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fileds-icon-"], [class*=" fileds-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'custom-fileds' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fileds-icon-make:before {
  content: "\e900";
}
.fileds-icon-mileage-km:before {
  content: "\e901";
}
.fileds-icon-moods:before {
  content: "\e902";
}
.fileds-icon-offerd-salary:before {
  content: "\e903";
}
.fileds-icon-opening-hours:before {
  content: "\e904";
}
.fileds-icon-options:before {
  content: "\e905";
}
.fileds-icon-price-per-meal:before {
  content: "\e906";
}
.fileds-icon-qualification:before {
  content: "\e907";
}
.fileds-icon-quality:before {
  content: "\e908";
}
.fileds-icon-size:before {
  content: "\e909";
}
.fileds-icon-sleeps:before {
  content: "\e90a";
}
.fileds-icon-sqft:before {
  content: "\e90b";
}
.fileds-icon-subjects:before {
  content: "\e90c";
}
.fileds-icon-tenure:before {
  content: "\e90d";
}
.fileds-icon-theme:before {
  content: "\e90e";
}
.fileds-icon-timing:before {
  content: "\e90f";
}
.fileds-icon-tutor-preference:before {
  content: "\e910";
}
.fileds-icon-type:before {
  content: "\e911";
}
.fileds-icon-type-of-food:before {
  content: "\e912";
}
.fileds-icon-vacancy-type:before {
  content: "\e913";
}
.fileds-icon-year:before {
  content: "\e914";
}
.fileds-icon-amenities:before {
  content: "\e915";
}
.fileds-icon-assembly:before {
  content: "\e916";
}
.fileds-icon-bathrooms:before {
  content: "\e917";
}
.fileds-icon-bedrooms:before {
  content: "\e918";
}
.fileds-icon-body-type:before {
  content: "\e919";
}
.fileds-icon-brands:before {
  content: "\e91a";
}
.fileds-icon-career-level:before {
  content: "\e91b";
}
.fileds-icon-color:before {
  content: "\e91c";
}
.fileds-icon-engine-capacity:before {
  content: "\e91d";
}
.fileds-icon-engine-type:before {
  content: "\e91e";
}
.fileds-icon-experience:before {
  content: "\e91f";
}
.fileds-icon-fee-range:before {
  content: "\e920";
}
.fileds-icon-garage:before {
  content: "\e921";
}
.fileds-icon-gender:before {
  content: "\e922";
}
.fileds-icon-grade-or-class:before {
  content: "\e923";
}
.fileds-icon-industry:before {
  content: "\e924";
}
.fileds-icon-institute-type:before {
  content: "\e925";
}
.fileds-icon-language:before {
  content: "\e926";
}
.fileds-icon-learning-preference:before {
  content: "\e927";
}
